a {
  text-decoration: underline;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: #000;
}

.heading {
  display: inline-block;
  font-family: Bitter, serif;
  color: #fff;
  font-size: 18px;
}

.text-block {
  display: inline-block;
  margin-left: 2px;
  font-family: Bitter, serif;
  color: #fff;
}

.nav-link {
  font-family: Bitter, serif;
  color: #fff;
}

.nav-link-2 {
  font-family: Bitter, serif;
  color: #fff;
}

.nav-link-3.nav-styling {
  font-family: Bitter, serif;
  color: #fff;
}

.body {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0f0f0f;
}

.image-2 {
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.profile-image-container {
  max-width: 40%;
  margin-top: 57px;
  border-radius: 3%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #000), color-stop(84%, #fff));
  background-image: linear-gradient(180deg, #000 2%, #fff 84%);
  text-align: center;
}

.tabs-menu {
  display: block;
  margin-top: 100px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0%;
  background-color: transparent;
  text-align: center;
}

.tab-nav.tab-styling {
  width: 20%;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5%;
  background-color: #1b1b1b;
}

.tab-link-tab-2.tab-styling.tab-nav {
  width: 20%;
  border-radius: 5%;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Bitter, serif;
  color: #fff;
  font-weight: 700;
}

.text-block-3 {
  color: #fff;
  text-align: center;
}

.text-block-4 {
  font-family: Bitter, serif;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.text-block-5 {
  color: #fff;
  text-align: center;
}

.tab-link-tab-3.tab-nav {
  width: 20%;
  margin-top: 10px;
  border-radius: 5%;
  background-color: #1b1b1b;
}

.tab-link-tab-3.tab-nav.w--current {
  margin-top: 10px;
}

.text-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Bitter, serif;
  color: #fff;
  font-weight: 700;
}

.text-block-7 {
  color: #fff;
  text-align: center;
}

.paragraph {
  width: 75%;
  margin-top: 10px;
  font-family: Bitter, serif;
  color: #fff;
  text-align: center;
}

.list-item {
  text-align: center;
}

.list-item-2 {
  text-align: center;
}

.list-item-3 {
  text-align: center;
}

.list-item-4 {
  text-align: center;
}

.list {
  text-align: left;
}

.paragraph-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Bitter, serif;
  color: #fff;
  font-size: 17px;
}

.paragraph-3 {
  font-family: Bitter, serif;
  color: #fff;
  font-size: 17px;
}

.tab-pane-tab-3 {
  top: 10px;
  text-align: center;
}

.portfolio-section {
  margin-top: 140px;
  background-color: #46005c;
}

.portfolio-paragraph {
  margin-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #5888f8;
  font-family: Bitter, serif;
  color: #fff;
  font-size: 17px;
  text-align: center;
}

.portfolio-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.portfolio-heading {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-bottom: 1px none #000;
  border-radius: 5%;
  background-color: #5888f8;
  font-family: Bitter, serif;
  color: #fff;
  font-size: 27px;
  text-align: center;
  text-decoration: underline;
}

.image-7 {
  width: 450px;
  height: 600px;
  text-align: left;
}

.lightbox-style {
  text-align: center;
}

.contact-section {
  display: block;
  width: 70%;
  margin-top: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #00c00d;
  text-align: left;
}

.contact-heading {
  display: block;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #004079;
  font-family: Bitter, serif;
  color: #fff;
  text-align: center;
}

.contact-container {
  display: block;
  max-width: 85%;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  text-align: left;
}

.image-8 {
  border-radius: 50%;
}

.link-block {
  display: block;
  margin-top: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.image-9 {
  display: block;
  max-width: 100%;
  float: none;
  border-radius: 50%;
  text-align: center;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  text-align: center;
}

.button-style {
  width: 41%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 5%;
  background-color: #004079;
  font-family: Bitter, serif;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
}

.image-10 {
  width: 70%;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.div-block {
  width: 70%;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: left;
}

.image-11 {
  width: 70%;
}

.image-12 {
  width: 70%;
}

.image-13 {
  width: 70%;
}

.image-14 {
  width: 70%;
}

.footer-div {
  display: block;
  text-align: left;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  text-align: left;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.image-15 {
  width: 24%;
}

.image-16 {
  width: 24%;
}

.image-17 {
  width: 24%;
}

.image-18 {
  width: 24%;
}

.tab-pane-tab-2 {
  margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .profile-image-container {
    max-width: 65%;
  }

  .tab-nav.tab-styling {
    width: 30%;
  }

  .tab-link-tab-2.tab-styling.tab-nav {
    width: 30%;
  }

  .tab-link-tab-3.tab-nav {
    width: 30%;
  }

  .list {
    list-style-type: none;
  }
}

@media screen and (max-width: 767px) {
  .profile-image-container {
    max-width: 80%;
  }
}

@media screen and (max-width: 479px) {
  a:hover {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar {
    background-color: #000;
  }

  .heading {
    display: inline-block;
    margin-left: 10px;
    font-family: Bitter, serif;
    color: #fff;
    font-size: 14px;
  }

  .text-block {
    display: inline-block;
    margin-left: 2px;
    font-family: Bitter, serif;
    color: #fff;
    font-size: 12px;
  }

  .nav-link {
    display: block;
    background-color: transparent;
    font-family: Bitter, serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }

  .nav-menu {
    background-color: #0f0f0f;
    text-align: left;
  }

  .nav-link-2 {
    display: block;
    font-family: Bitter, serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }

  .nav-link-3 {
    display: block;
    font-family: Bitter, serif;
    color: #fff;
  }

  .nav-link-3.nav-styling {
    font-weight: 700;
    text-align: center;
  }

  .menu-button {
    background-color: #000;
    color: #fff;
  }

  .menu-button.w--open {
    color: #000;
  }

  .icon {
    background-color: transparent;
  }

  .container {
    background-color: transparent;
  }

  .body {
    background-color: #0f0f0f;
  }

  .image {
    border-radius: 50%;
    text-align: left;
  }

  .section {
    text-align: center;
  }

  .image-2 {
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .profile-image-container {
    max-width: 100%;
    margin-bottom: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(15%, #141414), color-stop(29%, #434343), to(#fff));
    background-image: linear-gradient(180deg, #000, #141414 15%, #434343 29%, #fff);
    text-align: center;
  }

  .tabs-menu {
    display: block;
    margin-top: 100px;
    border-radius: 20%;
  }

  .tab-nav {
    margin-bottom: 3px;
  }

  .tab-nav.w--current {
    margin-bottom: 5px;
    border: 1px solid #fff;
    border-radius: 0%;
    background-color: #0f0f0f;
  }

  .tab-nav.tab-styling {
    width: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 3px;
    border-radius: 0%;
    background-color: #1b1b1b;
  }

  .tabs {
    margin-top: 10px;
  }

  .tab-link-tab-2 {
    margin-bottom: 5px;
  }

  .tab-link-tab-2.tab-styling.tab-nav {
    width: auto;
    border-radius: 0%;
    background-color: #1b1b1b;
    background-image: none;
  }

  .text-block-2 {
    font-family: Bitter, serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }

  .text-block-3 {
    color: #fff;
    text-align: center;
  }

  .text-block-4 {
    font-family: Bitter, serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }

  .text-block-5 {
    color: #fff;
    text-align: center;
  }

  .tab-link-tab-3 {
    font-family: Bitter, serif;
    font-weight: 700;
    text-align: center;
  }

  .tab-link-tab-3.tab-nav {
    width: auto;
    margin-top: auto;
    border-radius: 0%;
    background-color: #1b1b1b;
    color: #fff;
  }

  .tab-link-tab-3.tab-nav.w--current {
    margin-top: 0px;
  }

  .text-block-6 {
    color: #fff;
  }

  .text-block-7 {
    color: #fff;
  }

  .paragraph {
    margin-left: 0px;
    font-family: Bitter, serif;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
  }

  .list-item {
    margin-bottom: 15px;
    border: 1px none #fff;
    font-family: Bitter, serif;
    color: #fff;
    text-align: left;
    list-style-type: none;
  }

  .list-item-2 {
    margin-bottom: 15px;
    font-family: Bitter, serif;
    color: #fff;
    font-size: 20px;
    text-align: left;
  }

  .list-item-3 {
    margin-bottom: 15px;
    color: #fff;
    text-align: left;
  }

  .list-item-4 {
    font-family: Bitter, serif;
    color: #fff;
    font-size: 20px;
    text-align: left;
  }

  .text-span {
    color: red;
  }

  .text-span-2 {
    color: #8398ff;
  }

  .text-span-3 {
    color: #a52121;
    font-size: 35px;
  }

  .text-span-4 {
    color: #4e47d5;
    font-size: 24px;
  }

  .list {
    list-style-type: none;
  }

  .text-span-5 {
    font-family: Bitter, serif;
    font-size: 20px;
  }

  .text-span-6 {
    font-family: Bitter, serif;
    font-size: 20px;
    font-weight: 400;
  }

  .text-span-7 {
    font-family: Bitter, serif;
    font-size: 20px;
  }

  .text-span-8 {
    color: #00da36;
    font-size: 30px;
  }

  .text-span-9 {
    text-align: center;
  }

  .text-span-10 {
    font-family: Bitter, serif;
    color: #ffe100;
    font-size: 17px;
  }

  .paragraph-2 {
    display: block;
    margin-top: 10px;
    float: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: Bitter, serif;
    color: #fff;
    font-size: 15px;
    text-align: center;
  }

  .image-3 {
    display: inline-block;
  }

  .paragraph-3 {
    position: static;
    display: block;
    float: none;
    clear: left;
    font-family: Bitter, serif;
    color: #fff;
    font-size: 15px;
    text-align: center;
  }

  .tab-pane-tab-3 {
    top: 5px;
    float: left;
    text-align: center;
  }

  .image-4 {
    border-radius: 50%;
    text-align: left;
  }

  .portfolio-section {
    display: block;
    margin-top: 95px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    justify-items: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-areas: ". Text";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #46005c;
  }

  .paragraph-4 {
    display: inline-block;
    float: right;
    clear: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #fff;
    font-size: 13px;
  }

  .image-5 {
    display: inline-block;
    float: left;
    clear: right;
  }

  .lightbox-link {
    display: block;
  }

  .text-block-8 {
    color: #fff;
  }

  .paragraph-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .text-block-9 {
    display: block;
  }

  .paragraph-6 {
    display: block;
    float: right;
    color: #fff;
    text-align: center;
  }

  .image-6 {
    display: inline-block;
    clear: none;
  }

  .lightbox-link-2 {
    clear: right;
  }

  .container-3 {
    display: block;
    clear: none;
  }

  .portfolio-paragraph {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-style: none none solid;
    border-width: 1px;
    border-color: #5888f8;
    font-family: Bitter, serif;
    color: #f0f0f0;
    font-size: 13px;
    text-align: center;
  }

  .portfolio-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .portfolio-heading {
    width: 95%;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 5%;
    background-color: #5888f8;
    font-family: Bitter, serif;
    color: #f6f8ff;
    font-size: 23px;
    text-align: center;
    text-decoration: underline;
  }

  .image-7 {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 0px;
    border: 1px none #000;
    text-align: left;
  }

  .add-button {
    color: #fff;
    font-weight: 700;
    text-align: center;
  }

  .lightbox-style {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    text-align: center;
  }

  .contact-section {
    display: block;
    margin-top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: #00c00d;
  }

  .contact-heading {
    display: block;
    width: 100%;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-radius: 5%;
    background-color: #004079;
    font-family: Bitter, serif;
    text-align: center;
    text-decoration: none;
  }

  .container-4 {
    display: block;
  }

  .contact-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-span-11 {
    text-decoration: underline;
  }

  .image-8 {
    border-radius: 330%;
    box-shadow: 1px 1px 9px 0 #000;
    font-size: 11px;
    text-align: left;
  }

  .link-block {
    margin-top: 10px;
    text-align: center;
  }

  .image-9 {
    border-radius: 50%;
    box-shadow: 1px 1px 9px 0 #000;
  }

  .link-block-2 {
    margin-top: 10px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    text-align: center;
  }

  .button-style {
    width: 95%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5%;
    background-color: #004079;
    font-family: Bitter, serif;
    font-weight: 700;
    text-align: center;
  }

  .image-10 {
    width: auto;
    font-family: Bitter, serif;
  }

  .div-block {
    width: auto;
  }

  .image-11 {
    width: auto;
  }

  .image-12 {
    width: auto;
  }

  .image-13 {
    width: auto;
  }

  .image-14 {
    width: auto;
  }

  .footer-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
  }

  .div-block-2 {
    width: auto;
  }

  .div-block-3 {
    display: block;
    width: 100%;
  }
}